<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lassanit.authkit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application>
        <meta-data
            android:name="com.google.android.gms.identity.sms.intents.SMS_RETRIEVED_ACTION"
            android:value="com.lassanit.sso.SMS_RETRIEVED" />

        <activity
            android:name=".interactions.AuthKitCompatActivity"
            android:exported="false"
            android:theme="@style/Theme.AuthKit.Splash" />

    </application>
</manifest>